<!DOCTYPE html>
<html>

<head>
    <title>Magic Tour Operator</title>
    <script src="https://kit.fontawesome.com/c5c6c5bf9f.js" crossorigin="anonymous"></script>
    <script>
        (g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })({
            key: "AIzaSyAXoHCJarmMFQqdXq84gjPddgZg4xesEKM",
            // Add other bootstrap parameters as needed, using camel case.
            // Use the 'v' parameter to indicate the version to load (alpha, beta, weekly, etc.)
        });
    </script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="container-fluid zeroMargin">
        <div class="row" id="header">
            <div id="navContainer">
                <nav class="navbar navbar-expand-lg bg-body-tertiary" id="navBar">
                    <div class="container-fluid zeroMargin">
                        <a id="navbar-brand" class="navbar-brand" href="#"><img src="assets/img/Logo3.png" alt="logo"
                                class="logo"></a>
                        <button class="navbar-toggler" id="buttonNav" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="index.html">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="ChiSiamo.html">Chi siamo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="offerte.html">Offerte</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="destinazioni2.html">Destinazioni</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="destinazioni2.html">Contattaci</a>
                                </li>
                                <li class="nav-item paginaAgenzia">
                                    <span><a class="nav-link" href="agenzie.html">Per le agenzie</a></span>
                                </li>
                                <li>
                                    <div class="langButton">
                                        <span><a href=""><img class="linguaIcon" src="assets/img/it.png"
                                                    alt="italy"></a></span>
                                        <span><a href=""><img class="linguaIcon" src="assets/img/en.png"
                                                    alt="italy"></a></span>
                                        <span><a href="logIn.html"><img class="userIcon"
                                                    src="assets/img/placeholder-profile-image.svg"
                                                    alt="italy"></a></span>
                                </li>
                            </ul>
                        </div>
                        </li>

                        </ul>
                    </div>
                </nav>
                <!-- carosello -->
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/fbby1h_1.webp" class="d-block w-100 carouselImg" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/30027.jpg" class="d-block w-100 carouselImg" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/fbby1h_1.webp" class="d-block w-100 carouselImg" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="intestazione">
                    <h1>Il miglior Tour OP per la tua agenzia</h1>
                    <div class="container-fluid">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="dove vuoi andare?"
                                aria-label="Search">
                            <button id="buttonSearch" class="btn btn-outline-success buttonPage"
                                type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-----------------------------carosello offerte----------------------------------------------->
    <div class="container-fluid zeroMargin">
        <div class="row hotContainer">
            <div class="hotTitle col-3">
                <h5 class="zeroMargin">Offerte hot</h5>
            </div>
            <div class="hotOfferte col-9">
                <ul>
                    <li><a href="#">
                            <p class="zeroMargin"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </a></li>
                    <li><a href="#">
                            <p class="zeroMargin"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </a></li>
                    <li><a href="#">
                            <p class="zeroMargin"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </a></li>
                    <li><a href="#">
                            <p class="zeroMargin"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </a></li>
                </ul>
            </div>
        </div>
        <!-- map -->
        <div class="row col-12 col-xxl-7 mx-auto intestazioneOfferte spaziatura">
            <h2 class="textWhite">Entra nel team!</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit magni beatae qui, consequuntur, laborum a
                voluptatibus unde dolores ex mollitia nihil eum alias. <strong>Organizziamo il viaggio su misura per
                    te!</strong></p>
            <button id="buttonSearch" class="btn btn-outline-success buttonPage col-8 mx-auto" type="submit">Prenota un'
                appuntamento</button>
        </div>
        <div class="row col-10 col-xxl-9 mx-auto agenzieContainer">
            <h2>Trova le agenzie affiliate</h2>
            <div class="col-xxl-8" id="map"></div>
            <div class="col-12 col-xxl-3 infoContainer">
                <address id="infoAgenzia">
                    <h5>clicca i marker nella mappa per info</h5>
                </address>
            </div>
        </div>
        <div class="row col-10 col-xxl-8 mx-auto mt-5 mb-5">
            <h2>Contattaci ora!</h2>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nome Agenzia" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="E-mail" aria-label="Recipient's username"
                    aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2">@example.com</span>
            </div>

            <div class="mb-3">
                <label for="basic-url" class="form-label">IL tuo sito Web</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon3">https://example.com/</span>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
                </div>
                <div class="form-text" id="basic-addon4">Example help text goes outside the input group.</div>
            </div>

            <div class="input-group">
                <span class="input-group-text">Parlaci di te</span>
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
            <button id="buttonSearch" class="btn btn-outline-success buttonPage col-2 mt-3"
            type="submit">Invia</button>
        </div>
    </div>
    <!-- i nostri partner -->
    <div id="partnerContainer" class="row">
        <div class="col-12">
            <h2 class="textWhite">I nostri partner</h2>
        </div>
        <div class="col-6 col-xxl-3"><a href="#" target="_blank"><i class="fa-brands fa-node"></i></a></div>
        <div class="col-6 col-xxl-3"><a href="#" target="_blank"><i class="fa-brands fa-wodu"></i></a></div>
        <div class="col-6 col-xxl-3"><a href="#" target="_blank"><i class="fa-brands fa-node"></i></a></div>
        <div class="col-6 col-xxl-3"><a href="#" target="_blank"><i class="fa-brands fa-wodu"></i></a></div>
    </div>
    <!-- footer -->
    <footer>
        <div class="container-fluid footerContainer zeroMargin">
            <div class="row footerElement" id="logoFooter">
                <div class="col-12">
                    <a class="navbar-brand2" href="#"><img src="assets/img/Logo4.png" alt="logo" class="logoFooter"></a>
                </div>
            </div>
            <div class="row footerElement" id="socialFooter">
                <div class="col-12">
                    <a href="#" target="_blank"><i class="fa-brands fa-facebook icon"></i></a>
                    <a href="#" target="_blank"><i class="fa-brands fa-instagram icon"></i></a>
                    <a href="#" target="_blank"><i class="fa-brands fa-youtube icon"></i></a>
                    <a href="#" target="_blank"><i class="fa-brands fa-whatsapp icon"></i></a>
                </div>
            </div>
            <div class="row footerElement2">
                <div class="containerFlex">
                    <address class="col-12 col-xxl-6 contactFooter">
                        <a href="#">Policy</a>
                        <a href="#">Policy</a>
                        <a href="#">Policy</a>
                    </address>
                    <div class="col-12 col-xxl-6 contactFooter">
                        <address>
                            <p>Copyright &#64; 2022 | MagicTour S.P.A Sede legale via Mario Rossi, 15 - 10126</p>
                            <p>Tel. +39 3333333333</p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>